java_and_xml_Lab3/Lab3_task4_part1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">					
						
<xs:element name="FACULTY">
	<xs:complexType>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="MAJOR" >
				<xs:complexType mixed="true">
					<xs:sequence>
					<xs:element name="DESCRIPTION" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="name" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
</xs:element>
</xs:schema>