java_and_xml_Lab1/tvschedule.dtd

<!ELEMENT TVSCHEDULE (CHANNEL)*>
<!ATTLIST TVSCHEDULE NAME CDATA "Salem Access Television" >
<!ELEMENT CHANNEL (BANNER+,DAY*) >
<!ATTLIST CHANNEL CHAN CDATA #REQUIRED >
<!ELEMENT BANNER (#PCDATA) >
<!ELEMENT DAY (DATE , PROGRAMSLOT*) >
<!ELEMENT DATE (#PCDATA) >
<!ELEMENT PROGRAMSLOT (TIME , TITLE , DESCRIPTION?) >
<!ELEMENT TIME (#PCDATA) >
<!ELEMENT TITLE (#PCDATA) >
<!ATTLIST TITLE RATING CDATA #IMPLIED > 
<!ATTLIST TITLE LANGUAGE CDATA #IMPLIED >
<!ELEMENT DESCRIPTION (#PCDATA) >